<div class='container'>
	<div class="row">
		<div class="col-md-12">
			 <ul class="list-unstyled text-center">
			 	<li><h1 class='alert alert-success'>
			 	Inscrição realizada com sucesso.</h1></li>
			 	<li><p>Parabéns, sua inscrição foi realizada com sucesso<br>
			 	lhe avisaremos assim que nossa nova plataforma estiver no ar.</p></li>
			 	<ul class="list-unstyled list-inline"><br>
			 		<li><%= link_to 'Relizar nova inscrição', '<%= root_path %>', 
			 		class: 'btn btn-primary btn-lg top', remote: false %></li>
			 	</ul>
			 </ul>
		</div>
	</div>
</div>