/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 
 @import 'bootstrap';
 @import 'bootstrap-sprockets';
 @import 'font-awesome';
 @import 'alertify';
 @import 'alertify/default';
 @import 'alertify/bootstrap';

 body {
  position: relative;
  font-family: 'Open Sans', sans-serif, serif;
  font-size: 16px;
 }

 .bold {
  position: relative;
  font-weight: bold;
 }
 .padding {
  position: relative;
  padding: 10px;
 }
 .navbar-default {
  position: fixed;
  background-color: #f6f7fa;
  border: 1px solid #EEE;
 }
 footer {
  position: relative;
  margin-top: 0px;
  background-image: url('pink-footer-bg.jpg') no-repeat scroll center;  
  background-size: cover;
  margin-bottom: 10px !important;
 }